In [4]:
import pandas as pd
dataset = pd.read_csv('example3.csv', index_col=0)
dataset

     val1  val2 val3
n
100    10    10    C
101    10    20    C
102    10    30    B
103    10    40    B
104    10    50   A

In [5]:
import urllib.request
url = 'https://en.wikipedia.org/wiki/William_Shakespeare'
request = urllib.request.Request(url)
response = urllib.request.urlopen(request)

from bs4 import BeautifulSoup
soup = BeautifulSoup(response, 'html.parser')